@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --primary-color: 237, 242, 248;
    --black-color: 0, 0, 0;
  }
}

body {
  font-family: 'Cagliostro';
  color: rgb(var(--black-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--primary-color))
    )
    rgb(var(--primary-color));
}

/* scroll-bar design starts */

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* scroll-bar design ends */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab-div {
  background-color: transparent;
  color: #2d2d2d;
  font-size: 23px;
  font-weight: 500;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;
}

.transition-normal {
  transition: all 0.3s ease;
}

.normal-shadow {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.normal-box-shadow {
  box-shadow: 0 0 25px #00000033;
}

.normal-white-shadow {
  box-shadow: 0 0 25px #fef4f5;
}

.new-shadow {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form--div {
  width: 100%;
  
  margin: 0.75rem 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);

  transition: all 0.3s ease-in-out;
}

.textarea-style {
  width: 100%;
  padding: 0.95rem;
  border: none;
  border-radius: 7px;
  background-color: #edf2f8;

  font-family: var(--font-base);
  color: var(--secondary-color);
  outline: none;
}

.textarea-style:hover {
  box-shadow: 0 0 25px #edf2f8;
}

.submit--button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #313bac;

    font-weight: 500;
    color: #ffffff;
    outline: none;
    margin: 2rem 0 0 0;

    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
}

.app__footer-card {
  min-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fef4f5;

  transition: all 0.3s ease-in-out;

  img {
    width: 40px;
    height: 40px;
    margin: 0 0.7rem;
  }

  p {
    font-weight: 500;
  }
  a {
    text-decoration: none;
    font-weight: 500;
  }
}

.app__footer-card:hover {
  -shadow: 0 0 25px #fef4f5;
}

@media screen and (max-width: 450px) {
  .app__footer-card {
    width: 100%;
  }
}